@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.21 0.006 285.885);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.705 0.015 286.067);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.21 0.006 285.885);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.705 0.015 286.067);
}

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.141 0.005 285.823);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.141 0.005 285.823);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.21 0.006 285.885);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.274 0.006 286.033);
  --input: oklch(0.274 0.006 286.033);
  --ring: oklch(0.442 0.017 285.786);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.274 0.006 286.033);
  --sidebar-ring: oklch(0.442 0.017 285.786);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --font-display: "Oswald";
}

@utility container {
  margin: 0 auto;
  padding: 0 20px;
}

@layer utilities {
  .scrollbar-hidden {
    -ms-overflow-style: none; /* IE e Edge */
    scrollbar-width: none; /* Firefox */
  }
  .scrollbar-hidden::-webkit-scrollbar {
    display: none; /* Chrome, Safari e Opera */
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }

  /* Basic editor styles */
  .tiptap {
    @apply min-h-80 rounded-md border border-input bg-transparent px-3 py-1 text-sm shadow-sm transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring;
  }

  .tiptap > :first-child,
  .content-moto > :first-child {
    @apply mt-0;
  }

  /* List styles */
  .tiptap ul,
  .content-moto ul {
    @apply px-4 my-5 list-disc;
  }

  .tiptap ol,
  .content-moto ol {
    @apply px-4 my-5 mr-4 list-decimal;
  }

  .tiptap ul li,
  .tiptap ol li,
  .content-moto ul li,
  .content-moto ol li {
    @apply mb-2;
  }

  .tiptap ul li p,
  .tiptap ol li p,
  .content-moto ul li p,
  .content-moto ol li p {
    @apply my-1;
  }

  .tiptap p,
  .content-moto p {
    @apply my-4;
  }

  /* Heading styles */
  .tiptap h1,
  .content-moto h1 {
    @apply text-4xl font-bold leading-tight break-words mt-10;
  }

  .tiptap h2,
  .content-moto h2 {
    @apply text-3xl font-semibold leading-tight break-words mt-10;
  }

  .tiptap h3,
  .content-moto h3 {
    @apply text-2xl font-semibold leading-tight break-words mt-10;
  }

  .tiptap h4,
  .content-moto h4 {
    @apply text-xl font-medium leading-tight break-words mt-10;
  }

  .tiptap h5,
  .content-moto h5 {
    @apply text-lg font-medium leading-tight break-words mt-10;
  }

  .tiptap h6,
  .content-moto h6 {
    @apply text-base font-medium leading-tight break-words mt-10;
  }

  /* Code and preformatted text styles */
  .tiptap code,
  .content-moto code {
    @apply text-sm p-1 bg-indigo-950 text-zinc-50 rounded-sm font-mono;
  }

  .tiptap pre,
  .content-moto pre {
    @apply my-6 p-4 bg-indigo-950 text-zinc-50 rounded-md font-mono;
  }

  .tiptap pre code,
  .content-moto pre code {
    @apply text-xs;
    background: none;
    color: inherit;
    padding: 0;
  }

  /* Blockquote styles */
  .tiptap blockquote,
  .content-moto blockquote {
    @apply my-6 pl-4 italic text-gray-700 border-l-[3px] border-zinc-500;
  }

  /* Horizontal rule styles */
  .tiptap hr,
  .content-moto hr {
    @apply my-8 border-0 border-t-[1px] border-zinc-400;
  }

  /* Bubble Menu Styles */
  .bubble-menu {
    @apply text-zinc-50 bg-zinc-900 border border-zinc-700 rounded-lg shadow-md p-1 flex flex-wrap;
  }

  .bubble-menu button {
    @apply bg-transparent px-2 rounded-sm cursor-pointer;
  }

  .bubble-menu button:hover {
    @apply bg-red-600;
  }

  .bubble-menu button.is-active {
    @apply bg-red-600;
  }

  .bubble-menu button.is-active:hover {
    @apply bg-red-700 transition-colors;
  }
}
